doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title LectureLoot: The Beginning

    link(href='http://fonts.googleapis.com/css?family=Open+Sans:300,600', rel='stylesheet', type='text/css')

    // build:css styles/styles.css
    link(rel='stylesheet', type='text/css', href='bower_components/prism/themes/prism-twilight.css')
    link(rel='stylesheet', type='text/css', href='styles/main.css')
    // endbuild

  body

    article

      section
        h1 LectureLoot
        h3
          a(href='#') Justin &middot; Damien &middot; Luis
        span
          img.avatar.avatar--small.title__img(src='images/justin.jpg')
          img.avatar.avatar--small.title__img(src='images/damien.jpg')
          img.avatar.avatar--small.title__img(src='images/luis.jpg')

      section.light(data-bespoke-state='green')
        h2.bullet What's the problem?
        p.bullet We all have those classes that we don't want to attend
        p.bullet There exist no real incentives for attending those classes

      section
        h2.bullet LectureLoot
        ul
          li Introduces the ability to earn <a href='#'>money</a> by going to class

      section
        h2.bullet How does it all work?

      section.gif.gif--grunt-happy
        h1
          .bullet GOING TO CLASS
          .bullet +
          .bullet MONEY
          .bullet =
          .bullet AWESOME

      section.light(data-bespoke-state='green')
        h2.bullet Demo
        h3.bullet Justin Rafanan
        h3.bullet Damien Gilliams

      section.light(data-bespoke-state='green')
        h2.bullet Scrum Docs

      section.logo--stories(data-bespoke-state='white')

      section.logo--stories2x(data-bespoke-state='white')

      section.logo--backlog(data-bespoke-state='white')

      section.logo--backlog2x(data-bespoke-state='white')

      section.logo--sprint1backlog(data-bespoke-state='white')

      section.logo--sprint1backlog2x(data-bespoke-state='white')

      section.logo--chart(data-bespoke-state='white')

      section.light(data-bespoke-state='green')
        h2.bullet GitHub

      section.logo--repo1(data-bespoke-state='white')

      section.logo--repo2(data-bespoke-state='white')

      section.logo--contrib1(data-bespoke-state='white')

      section.logo--contrib2(data-bespoke-state='white')

      section.gif.gif--tough
        h1.bullet RETROSPECTIVE

      section
        h2.bullet Things to Improve On
        ul
          li.bullet Communication
          li.bullet Estimating time it takes to complete tasks
          li.bullet Using GitHub proficiently

      section.gif.gif--future
        h1.bullet THE FUTURE
        ul
          li Extend LectureLoot to <a href='#'>iOS</a>
          li Design an immersive UX for both the Android and Web Platform

      section
        h1.bullet Thank you!
        h3
          a(href='#') Justin &middot; Damien &middot; Luis
        span
          img.avatar.avatar--small.title__img(src='images/justin.jpg')
          img.avatar.avatar--small.title__img(src='images/damien.jpg')
          img.avatar.avatar--small.title__img(src='images/luis.jpg')
        h3.bullet Any Questions?

    // build:js scripts/scripts.js
    script(src='bower_components/bespoke.js/dist/bespoke.min.js')
    script(src='bower_components/bespoke-keys/dist/bespoke-keys.min.js')
    script(src='bower_components/bespoke-touch/dist/bespoke-touch.min.js')
    script(src='bower_components/bespoke-bullets/dist/bespoke-bullets.min.js')
    script(src='bower_components/bespoke-scale/dist/bespoke-scale.min.js')
    script(src='bower_components/bespoke-hash/dist/bespoke-hash.min.js')
    script(src='bower_components/bespoke-progress/dist/bespoke-progress.min.js')
    script(src='bower_components/bespoke-state/dist/bespoke-state.min.js')
    script(src='bower_components/prism/prism.js')
    script(src='scripts/main.js')
    // endbuild
